.hotels-widget {
    width: 150px;
    margin: 10px auto auto auto;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box; 
}

.footer h4 {
    text-align: center;
}