/* Global
-------------------------------------------*/
@import "../../../division-project/scss/master";
/* Theme specific styles */
@import "imports/_theme.scss";
// @import "imports/hotels-widget.scss";