.room-grid {

	&__title{
		margin-top: rem-calc(5);
		margin-bottom: rem-calc(5);
	}
	&__link {
		display: block;
	}
	&__info{
		font-size: rem-calc(14);
	}
}

.room-single{
	&__info{
		margin-top: rem-calc(25);
	}

	&__room-no{
		font-size: rem-calc(32);
		font-weight: bold;
	}
	&__contact{
		text-align: center;
		background: #eee;
		border: 1px solid #ddd;
		padding: rem-calc(20);
		margin: rem-calc(40) 0;

		.button{
			margin-bottom: rem-calc(20);
		}
	}
}